.menu {
  background-color: #def7e1;
  min-height: 100px;
  border: 1px dashed black;
  margin: 5px;
}

.trash {
  background-color: #eedbff;
  min-height: 100px;
  border: 1px dashed black;
  margin: 5px;
}

.table-col{
  background-color: #a5dee5;
  min-height: 200px;
  border: 1px dashed black;
  margin: 5px;
}

.disappear {
  display: none;
}

h4:hover {
  color: red;
}

.gray-text {
  color: #D3D3D3;
  text-align: center;
}

.magic-form {
  background-color: #ffedad;
  /* min-height: 50px;
  min-width: 50px; */
}
